<!DOCTYPE html>
<!--
  ** NOTE **

  Run `grunt connect` then
  navigate to http://localhost:3000/demo
  to see this page in browser

  -->
<html>
<head>
	<meta charset="utf-8" />
	<title>Girl Scouts Volunteering</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="lib/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="lib/css/angular-pickadate.css" />
	<link rel="stylesheet" href="css/style.css" />

</head>
<body ng-controller="MasterController as vm">

<!-- Sidebars -->
<div ng-include="'app/views/mainSidebar.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"></div>
<div ng-include="'app/views/statsSidebar.html'" class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="statsSidebar"></div>

<div class="app">

	<!-- Navbars -->

	<div class="navbar navbar-app navbar-absolute-top">
		<div class="navbar-brand navbar-brand-center" yield-to="title">
		</div>

		<div class="btn-group pull-left">
			<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
				<i class="fa fa-bars"></i>
			</div>
		</div>
        <div class="btn-group pull-right" yield-to="navbarAction">
            <div ng-click="toggle('statsSidebar'); vm.updateStats()" class="btn btn-navbar">
                <i class="fa fa-bar-chart-o"></i>
            </div>
        </div>
	</div>

	<div class="navbar navbar-app navbar-absolute-bottom">
		<div class="btn-group justified">
			<a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Add</a>
			<a href="#/events" class="btn btn-navbar"><i class="fa fa-list fa-navbar"></i> Events</a>
		</div>
	</div>

	<!-- App Body -->
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading">
			<i class="fa fa-spinner fa-spin loading-spinner"></i>
		</div>

		<ng-view class="app-content" ng-hide="loading"></ng-view>
	</div>

</div>
<script>
    window.console = (function(win) {
        var logs = [],
                console = win.console;

        function log(message) {
            logs.push(message);
            console.log(message);
        }

        function display() {
            var list = '';
            for (var i = 0; i < logs.length; i++) {
                list += logs[i] + '\r\n';
            }
            console.log(list);
            return list;
        }

        return {
            log: log,
            display: display
        };
    })(window);

</script>
<script src="http://192.168.1.13:8080/target/target-script-min.js#anonymous"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="lib/js/angular.min.js"></script>
<script type="text/javascript" src="lib/js/angular-route.min.js"></script>
<script type="text/javascript" src="lib/js/angular-touch.min.js"></script>
<script type="text/javascript" src="lib/js/mobile-angular-ui.min.js"></script>
<script type="text/javascript" src="lib/js/angular-pickadate.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/services/dataService.js"></script>
<script type="text/javascript" src="app/services/messageBusService.js"></script>
<script type="text/javascript" src="app/services/statsService.js"></script>
<script type="text/javascript" src="app/services/memStorageService.js"></script>
<script type="text/javascript" src="app/services/deviceStorageService.js"></script>
<script type="text/javascript" src="app/services/cordovaapi.js"></script>
<script type="text/javascript" src="app/services/cordovaService.js"></script>
<script type="text/javascript" src="app/services/utils.js"></script>
<script type="text/javascript" src="app/services/repositoryMemory.js"></script>
<script type="text/javascript" src="app/controllers/MasterController.js"></script>
<script type="text/javascript" src="app/controllers/AddController.js"></script>
<script type="text/javascript" src="app/controllers/ListController.js"></script>
<script type="text/javascript" src="app/controllers/StatsController.js"></script>
<script type="text/javascript" src="app/controllers/SettingsController.js"></script>
<script type="text/javascript" src="app/controllers/AboutController.js"></script>
<script type="text/javascript">
    (function() {
        angular.injector(['GSVolunteeringEvents']).get('cordovaApi').init();
    })();
</script>
</body>
</html>