<div content-for="title">
    <span><img class="logo" src="css/images/gs4.png"  />&nbsp;&nbsp;<b>About</b></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group gs-blank" >
            <div class="gs-about">
                <img src="css/images/gs4.png"  />
                <p class="gs-heading">Volunteering</p>
                <p>support@gs-volunteering.com</p>
                <p>Bla bla bla bla</p>
                <p>Bla bla bla lba</p>
            </div>
        </div>
    </div>
</div>