
<div class="scrollable">
	<div class="scrollable-content section">

		<form action="" id="">

			<div bs-panel title="">
				<div id="scroll-pane" bs-panel title="{{vm.state}} Event">
					<input
									bs-form-control
									type="date"
									ng-model="vm.event.date"
									label="Date"
									label-class="col-xs-3 col-sm-2 col-lg-1"
									class="col-xs-9 col-sm-10 col-lg-11"
									/>
					<input id="hours"
									bs-form-control
									type="number"
									ng-model="vm.event.hours"
									label="Hours"
									label-class="col-xs-3 col-sm-2 col-lg-1"
									class="col-xs-9 col-sm-10 col-lg-11"
									/>

					<textarea type="text"
										ng-model="vm.event.name"
										placeholder="Volunteering Event..."
										label="" bs-form-control></textarea>
					<br />

					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-primary" ng-click="vm.addEvent(vm.event)">Save</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="vm.clearEvent(vm.event)">Clear</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!--<div id="add" style="padding: 20px;" >-->
	<!--<span id="notification"></span>-->
	<!--<br />-->
	<!--<input kendo-date-picker id="eventDate" style="height: 1.9em; width: 100%;" k-ng-model="event.date" />-->
	<!--<br />-->
	<!--<br />-->
	<!--<input kendo-auto-complete Id="volunteerEvent" ng-model="event.name" style="height: 39px; width: 100%;" k-data-source="volunteerEvents" />-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />	<br />-->

	<!--<div kendo-slider  k-min="0" k-max="24" ng-model="event.hours" k-show-buttons="false" k-large-step="24" k-small-step=".5" k-tooltip="{ enabled: true }"-->
			 <!--style="width: 100%;"></div>-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />-->
	<!--<button kendo-mobile-button id="save" style="height: 48px; width: 100%;" k-on-click="addEvent(event)" >Save Event</button>-->
<!--</div>-->