<div content-for="title">
    <span><img class="logo" src="css/images/gs4.png"  />&nbsp;&nbsp;<b>Volunteering</b></span>
</div>
<div class="scrollable">
	<div class="scrollable-content section">

		<form action="" id="">

				<div id="scroll-pane" bs-panel title="{{vm.state}} Event">
                    <br>
                    <div class="input-group"  >
                        <input  class="form-control"
                                type="text"
                                ng-model="vm.event.date"
                                placeholder="Event Date..."
                                label=""
                                />
                        <span
                                class="btn btn-default input-group-addon"
                                 ng-click="vm.openCalendar()">
                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="caret"></span>
                        </span>
                    </div>
                    <div pickadate></div>
                    <div overlay="calendarOverlay">
                        <div class="gs-pickadate-container">
                            <div pickadate ng-model="vm.pickadate.date"  min-date="vm.pickadate.minDate" max-date="vm.pickadate.maxDate" on-select="vm.closeCalendar()" ></div>
                        </div>
                    </div>
                    <!--<rzslider-->
                            <!--rz-slider-floor="1"-->
                            <!--rz-slider-ceil="24"-->
                            <!--rz-slider-model="vm.slider.model"-->
                            <!--rz-slider-step="1"></rzslider>-->
					<input id="hours"
                        bs-form-control
                        type="number"
                        ng-model="vm.event.hours"
                        placeholder="Event hours..."
                        label="Hours"
                        
                        />
					<textarea type="text"
										ng-model="vm.event.name"
										placeholder="Event Name..."
										label="" bs-form-control></textarea>
                    <input type="range" name="points" min="0" max="10">
					<br class="br-spacer" />

					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-primary" ng-click="vm.addEvent(vm.event)">Save</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="vm.clearEvent(vm.event)">Clear</button>
						</div>
					</div>


				</div>
		</form>
	</div>
</div>