<div content-for="title">
    <span><img class="logo" src="css/images/gs4.png" />&nbsp;&nbsp;<b>Settings</b></span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<form action="" id="">
			<div bs-panel title="Search">
                <select type="text" ng-model="vm.event.name" placeholder="Search Methods..." label="Method" bs-form-control>
                    <options>By Name</options>
                    <options>Last (n) Days</options>
                    <options>Month</options>
                    <options>Year</options>
                    <options>Date Range</options>
                </select>
			</div>
            <div bs-panel title="Options">
                test
            </div>
		</form>
	</div>
</div>

<!--<div id="add" style="padding: 20px;" >-->
	<!--<span id="notification"></span>-->
	<!--<br />-->
	<!--<input kendo-date-picker id="eventDate" style="height: 1.9em; width: 100%;" k-ng-model="event.date" />-->
	<!--<br />-->
	<!--<br />-->
	<!--<input kendo-auto-complete Id="volunteerEvent" ng-model="event.name" style="height: 39px; width: 100%;" k-data-source="volunteerEvents" />-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />	<br />-->

	<!--<div kendo-slider  k-min="0" k-max="24" ng-model="event.hours" k-show-buttons="false" k-large-step="24" k-small-step=".5" k-tooltip="{ enabled: true }"-->
			 <!--style="width: 100%;"></div>-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />-->
	<!--<br />-->
	<!--<button kendo-mobile-button id="save" style="height: 48px; width: 100%;" k-on-click="addEvent(event)" >Save Event</button>-->
<!--</div>-->