<div content-for="title">
    <span><img class="logo" src="css/images/gs4.png" />&nbsp;&nbsp;<b>Settings</b></span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
        <div class="list-group gs-blank" >
            <!--<div bs-panel title="Search">-->
                <!--<select ng-model="search" type="text" bs-form-control class="gs-selects">-->
                    <!--<option>Select Search Methods...</option>-->
                    <!--<option selected>Search By Name</option>-->
                    <!--<option>Search Last (n) Days</option>-->
                    <!--<option>Search Date Range</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div bs-panel title="Sort">-->
                <!--<select ng-model="sort" type="text" bs-form-control class="gs-selects">-->
                    <!--<option>Select Sort Methods...</option>-->
                    <!--<option>Sort By Name</option>-->
                    <!--<option selected>Sort By Date</option>-->
                <!--</select>-->
            <!--</div>-->
        </div>
	</div>
</div>
