<h1 class="app-name"><span class="gs-heading1">girl scouts</span> - <span class="gs-heading">Volunteering</span></h1>

<div class="scrollable sidebar-scrollable">
  <div class="scrollable-content">
      <form action="" id="">
          <div bs-panel>
              <div bs-panel title="Statistics">
                  <div id="total-pane" bs-panel>
                      <table id="stats">
                          <tr><th>&nbsp;</th><th>Events</th><th>Hours</th></tr>
                          <tr><td>Life&nbsp;Totals</td><td class="stat-number">{{ vm.stats.life.events }}</td><td class="stat-number">{{ vm.stats.life.hours }}</td></tr>
                          <tr><td>Day&nbsp;Totals</td><td class="stat-number">{{ vm.stats.day.events }}</td><td class="stat-number">{{ vm.stats.day.hours }}</td></tr>
                          <tr><td>Week&nbsp;Totals</td><td class="stat-number">{{ vm.stats.week.events }}</td><td class="stat-number">{{ vm.stats.week.hours }}</td></tr>
                          <tr><td>Month&nbsp;Totals</td><td class="stat-number">{{ vm.stats.month.events }}</td><td class="stat-number">{{ vm.stats.month.hours }}</td></tr>
                          <tr><td>Year&nbsp;Totals</td><td class="stat-number">{{ vm.stats.year.events }}</td><td class="stat-number">{{ vm.stats.year.hours }}</td></tr>
                      </table>
                  </div>
              </div>

          </div>
      </form>
  </div>
</div>
