.navbar-app {
    color: #029c4f;
}

.navbar-app .btn, .navbar-app .btn-navbar {
    color: #029c4f;
}

.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color: #029c4f;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #00AE59;
    border-color: #00AE59;
}

.btn-primary {
    background-color: #029c4f;
    border-color: #029c4f;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #029c4f;
    border-color: #029c4f;
}

.logo {
    width: 75%;
    height: 75%;
}

h1 {
    padding: 0;
    margin: 10px 0;
}


.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}






