
.navbar-app {
    color: #029c4f;
}

.navbar-app .btn, .navbar-app .btn-navbar {
    color: #029c4f;
}

.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color: #029c4f;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #00AE59;
    border-color: #00AE59;
}

.btn-primary {
    background-color: #029c4f;
    border-color: #029c4f;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #029c4f;
    border-color: #029c4f;
}

.logo {
    height: 100%;
    vertical-align: text-bottom;
}

h1 {
    padding: 0;
    margin: 10px 0;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

#stats th {
    padding: 5px;
}

#stats td {
    padding: 8px;
    text-align: right;
}

#stats td.stat-number {
   text-align: right;
}

.gs-heading1 {
    font-weight: bold;
}

.gs-heading {
    color: #029c4f;
    font-weight: bold;
    font-size: 23px;
}

.gs-blank {
    height: 100%;
    background-color: #ffffff;
}

.gs-about {
    text-align: center;
    padding: 20px;
}

.gs-selects {
    height: 34px;
    width: 100%;
}

.gs-date, .gs-number {
    height: 34px;
    width: 343px;
}





